@import url('form.css');

@import url('flash.css');

@import url('portlet.css');

@import url('operations.css');

/*@import url('bootstrap.css');*/

body{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

.form-user-avatar-block img{
    width: 50%;
    margin: 0 auto;
}